
<header>
    <div class="nav ">
        <a href="" class="logo">
            <img src="assets/images copy/logo.png" alt="" width="10%"/>
        </a>
        <div class="navbar">
            <a href="#" class="nav-link">Categorie</a>
            <a href="#" class="nav-link">Products</a>
            <a href="#" class="nav-link">Blog</a>
            <a href="#" class="nav-link">Contact</a>
        </div>
        <div class="nav-right">
            <li class="ri-search-2-line"></li>
            <a href="" class="login-btn">Panier</a>
            <div class="menu-icon">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>

            </div>
        </div>
    </div>
</header>
<style>p {
    padding: 20px; /* Ajoute un padding de 20px sur les 4 côtés */
}
</style>
<p style="padding: 20px;"></p>

        <section class="blog-list-section pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <!--=== Blog List Wrapper ===-->
                        <div class="blog-list-wrapper">
                            <!--=== Single Blog Post ===-->
                            <div class="single-blog-post-four mb-30 wow fadeInDown">
                                <div class="post-thumbnail">
                                    <img src="assets/images/blog/blog-13.jpg" alt="Post Image">
                                </div>
                                <div class="entry-content">
                                    <div class="post-meta">
                                        <span><i class="fas fa-calendar-alt"></i><a href="#">November 15, 2022</a></span>
                                    </div>
                                    <h3 class="title"><a href="blog-details.html">Meet Skeleton 
                                        Svelte Taile Sindey
                                        For Reactive UIs</a></h3>
                                    <h6 class="author"><i class="fas fa-user"></i><a href="#">Matthew N. Davis</a></h6>
                                    <a href="blog-details.html" class="main-btn filled-btn">Read More<i class="fas fa-paper-plane"></i></a>
                                </div>
                            </div>
                            <!--=== Single Blog Post ===-->
                            <div class="single-blog-post-four mb-30 wow fadeInDown">
                                <div class="post-thumbnail">
                                    <img src="assets/images/blog/blog-14.jpg" alt="Post Image">
                                </div>
                                <div class="entry-content">
                                    <div class="post-meta">
                                        <span><i class="fas fa-calendar-alt"></i><a href="#">November 15, 2022</a></span>
                                    </div>
                                    <h3 class="title"><a href="blog-details.html">Resolving Conflicts
                                        Between Designers And Engineers</a></h3>
                                    <h6 class="author"><i class="fas fa-user"></i><a href="#">Matthew N. Davis</a></h6>
                                    <a href="blog-details.html" class="main-btn filled-btn">Read More<i class="fas fa-paper-plane"></i></a>
                                </div>
                            </div>
                            <!--=== Single Blog Post ===-->
                            <div class="single-blog-post-four mb-30 wow fadeInDown">
                                <div class="post-thumbnail">
                                    <img src="assets/images/blog/blog-15.jpg" alt="Post Image">
                                </div>
                                <div class="entry-content">
                                    <div class="post-meta">
                                        <span><i class="fas fa-calendar-alt"></i><a href="#">November 15, 2022</a></span>
                                    </div>
                                    <h3 class="title"><a href="blog-details.html">Meet Skeleton 
                                        Svelte Taile Sindey
                                        For Reactive UIs</a></h3>
                                    <h6 class="author"><i class="fas fa-user"></i><a href="#">Matthew N. Davis</a></h6>
                                    <a href="blog-details.html" class="main-btn filled-btn">Read More<i class="fas fa-paper-plane"></i></a>
                                </div>
                            </div>
                            <!--=== Single Blog Post ===-->
                            <div class="single-blog-post-four mb-30 wow fadeInDown">
                                <div class="post-thumbnail">
                                    <img src="assets/images/blog/blog-16.jpg" alt="Post Image">
                                </div>
                                <div class="entry-content">
                                    <div class="post-meta">
                                        <span><i class="fas fa-calendar-alt"></i><a href="#">November 15, 2022</a></span>
                                    </div>
                                    <h3 class="title"><a href="blog-details.html">Using Automated
                                        To Results Improve
                                        Accessibility</a></h3>
                                    <h6 class="author"><i class="fas fa-user"></i><a href="#">Matthew N. Davis</a></h6>
                                    <a href="blog-details.html" class="main-btn filled-btn">Read More<i class="fas fa-paper-plane"></i></a>
                                </div>
                            </div>
                            <!--=== Single Blog Post ===-->
                            <div class="single-blog-post-four mb-30 wow fadeInDown">
                                <div class="post-thumbnail">
                                    <img src="assets/images/blog/blog-17.jpg" alt="Post Image">
                                </div>
                                <div class="entry-content">
                                    <div class="post-meta">
                                        <span><i class="fas fa-calendar-alt"></i><a href="#">November 15, 2022</a></span>
                                    </div>
                                    <h3 class="title"><a href="blog-details.html">Usability Journey 
                                        Of Drupal’s Primary
                                        Navigation</a></h3>
                                    <h6 class="author"><i class="fas fa-user"></i><a href="#">Matthew N. Davis</a></h6>
                                    <a href="blog-details.html" class="main-btn filled-btn">Read More<i class="fas fa-paper-plane"></i></a>
                                </div>
                            </div>
                            <!--=== Single Blog Post ===-->
                            <div class="single-blog-post-four mb-30 wow fadeInDown">
                                <div class="post-thumbnail">
                                    <img src="assets/images/blog/blog-18.jpg" alt="Post Image">
                                </div>
                                <div class="entry-content">
                                    <div class="post-meta">
                                        <span><i class="fas fa-calendar-alt"></i><a href="#">November 15, 2022</a></span>
                                    </div>
                                    <h3 class="title"><a href="blog-details.html">Voice Usability Consideration For
                                        Partially Visually</a></h3>
                                    <h6 class="author"><i class="fas fa-user"></i><a href="#">Matthew N. Davis</a></h6>
                                    <a href="blog-details.html" class="main-btn filled-btn">Read More<i class="fas fa-paper-plane"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--=== Pagination ===-->
                        
                    </div>
                    <div class="col-xl-4">
                        <div class="sidebar-widget-area">
                         
                            <!--=== Category Widget ===-->
                        
                            <!--=== Recent Post Widget ===-->
                            <div class="sidebar-widget recent-post-widget mb-40 wow fadeInUp">
                                <h4 class="widget-title">Recent News</h4>
                                <ul class="recent-post-list">
                                    <li class="post-thumbnail-content">
                                        <img src="assets/images/blog/post-thumb-1.jpg" alt="post thumb">
                                        <div class="post-title-date">
                                            <h5><a href="blog-details.html">Quality Assurance
                                                Requirements Web
                                                Dev Risk Manage</a></h5>
                                            <span class="posted-on"><i class="fas fa-calendar-alt"></i><a href="#">November 23,2022</a></span>
                                        </div>
                                    </li>
                                    <li class="post-thumbnail-content">
                                        <img src="assets/images/blog/post-thumb-2.jpg" alt="post thumb">
                                        <div class="post-title-date">
                                            <h5><a href="blog-details.html">Deep Div Wonder
                                                World Of Displaem
                                                Filtering</a></h5>
                                            <span class="posted-on"><i class="fas fa-calendar-alt"></i><a href="#">November 23,2022</a></span>
                                        </div>
                                    </li>
                                    <li class="post-thumbnail-content">
                                        <img src="assets/images/blog/post-thumb-3.jpg" alt="post thumb">
                                        <div class="post-title-date">
                                            <h5><a href="blog-details.html">Handling Mountin mountin Naviation
                                                Routes In Native</a></h5>
                                            <span class="posted-on"><i class="fas fa-calendar-alt"></i><a href="#">November 23,2022</a></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar-widget category-widget mb-30 wow fadeInUp">
                                <h4 class="widget-title">Category</h4>
                                <ul class="category-nav">
                                    <li><a href="#">Tent Camping<i class="fas fa-arrow-right"></i></a></li>
                                    <li><a href="#">Family Camping<i class="fas fa-arrow-right"></i></a></li>
                                    <li><a href="#">Wild Camping<i class="fas fa-arrow-right"></i></a></li>
                                    <li><a href="#">Campfire <i class="fas fa-arrow-right"></i></a></li>
                                    <li><a href="#">Luxury Cabin <i class="fas fa-arrow-right"></i></a></li>
                                </ul>
                            </div>
                            <!--=== Banner Widget ===-->
                            <div class="sidebar-widget sidebar-banner-widget wow fadeInUp mb-40">
                                <div class="banner-widget-content">
                                    <div class="banner-img">
                                        <img src="assets/images/blog/banner-1.jpg" alt="Post Banner">
                                        <div class="hover-overlay">
                                            <div class="hover-content">
                                                <h4 class="title"><a href="#">Swimming Pool</a></h4>
                                                <p><i class="fas fa-map-marker-alt"></i>Marrakesh, Morocco</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--=== Tag Widget ===-->
                            <div class="sidebar-widget tag-cloud-widget gray-bg mb-40 wow fadeInUp">
                                <h4 class="widget-title">Products Tags</h4>
                                <a href="#">Camping</a>
                                <a href="#">Tent Camp</a>
                                <a href="#">Campfire</a>
                                <a href="#">Luxury Cabin</a>
                                <a href="#">Safasi Tent</a>
                                <a href="#">House Tree</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Blog Section ======-->
     
        <footer class="main-footer black-bg pt-230">
            <div class="container">
                <!--=== Footer CTA ===-->
                <div class="footer-cta pb-40">
                    <div class="row">
                        <div class="col-lg-6">
                            <!--=== Single CTA Item ===-->
                            <div class="single-cta-item pr-lg-60 mb-40 wow fadeInLeft">
                                <div class="icon">
                                    <img src="assets/images/icon/support.png" alt="Icon">
                                </div>
                                <div class="content">
                                    <h3 class="title">Need Any Support For
                                        Tour & Travels ?</h3>
                                    <a href="#" class="icon-btn"><i class="fas fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!--=== Single CTA Item ===-->
                            <div class="single-cta-item pl-lg-60 mb-40 wow fadeInRight">
                                <div class="icon">
                                    <img src="assets/images/icon/travel.png" alt="Icon">
                                </div>
                                <div class="content">
                                    <h3 class="title">Ready to Get Started With Vacations!</h3>
                                    <a href="#" class="icon-btn"><i class="fas fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--=== Footer Widget ===-->
                <div class="footer-widget-area pt-75 pb-30">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <!--=== Footer Widget ===-->
                            <div class="footer-widget about-company-widget mb-40 wow fadeInUp">
                                <h4 class="widget-title">About</h4>
                                <div class="footer-content">
                                    <p>To take trivial example which us 
                                        ever undertakes laborious physica
                                        exercise except obsome</p>
                                    <a href="#" class="footer-logo"><img src="assets/images/logo/logo-white.png" alt="Site Logo"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <!--=== Footer Widget ===-->
                            <div class="footer-widget service-nav-widget mb-40 pl-lg-70 wow fadeInDown">
                                <h4 class="widget-title">Services</h4>
                                <div class="footer-content">
                                    <ul class="footer-widget-nav">
                                        <li><a href="#">Caravan Soler Tent</a></li>
                                        <li><a href="#">Family Tent Camping</a></li>
                                        <li><a href="#">Classic Tent Camping</a></li>
                                        <li><a href="#">Wild Tent Camping</a></li>
                                        <li><a href="#">Small Cabin Wood</a></li>
                                    </ul>
                                    <ul class="footer-widget-nav">
                                        <li><a href="#">Need a Career ?</a></li>
                                        <li><a href="#">Latest News & Blog</a></li>
                                        <li><a href="#">Core Features</a></li>
                                        <li><a href="#">Meet Our teams</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!--=== Footer Widget ===-->
                            <div class="footer-widget footer-newsletter-widget mb-40 pl-lg-100 wow fadeInUp">
                                <h4 class="widget-title">Newsletter</h4>
                                <div class="footer-content">
                                    <p>Which of us ever undertake laborious
                                        physical exercise except obtain</p>
                                    <form>
                                        <div class="form_group">
                                            <label><i class="fas fa-paper-plane"></i></label>
                                            <input type="email" class="form_control" placeholder="Email Address" name="email" required>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--=== Footer Copyright ===-->
                <div class="footer-copyright">
                    <div class="row">
                        <div class="col-lg-6">
                            <!--=== Footer Text ===-->
                            <div class="footer-text">
                                <p>Cop2023 <span style="color: #F7921E;">GoWilds</span>, All Right Reserved</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!--=== Footer Nav ===-->
                            <div class="footer-nav float-lg-end">
                                <ul>
                                    <li><a href="#">Setting & privacy</a></li>
                                    <li><a href="#">Faqs</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!--====== End Footer ======-->
        <!--====== Back To Top  ======-->
    