
    <header>
        <div class="nav ">
            <a href="" class="logo">
                <img src="images/logo.png" alt="" width="10%"/>
            </a>
            <div class="navbar">
                <a href="#" class="nav-link">Categorie</a>
                <a href="#" class="nav-link">Products</a>
                <a href="#" class="nav-link">Blog</a>
                <a href="#" class="nav-link">Contact</a>
            </div>
            <div class="nav-right">
                <li class="ri-search-2-line"></li>
                <a href="" class="login-btn">Panier</a>
                <div class="menu-icon">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>

                </div>
            </div>
        </div>
    </header>
    
<p  style="padding-top: 60px"></p>
    <section class="backpack container" id="backpack" >
        <div class="backpack-content">
            <img src="images/backpack-grid.png" alt="" class="backpack-grid"/>
            <h2>Jack Wolfskin <br><span>Jack Wolfskin</span></h2>
            <p>Ergonomic design and medical back of the Jack Wolfskin series for long-term carrying and puts the least pressure on your back!</p>
            <a href="" class="btn">
           <span>Products</span>
            <img src="images/arrow-right.png" alt="">
        </a>
            </div>
            <img src="images/backpack.png" alt="" class="backpack-img"/>
    </section>
   
    <div class="custom-carousele ">
        <div class="carousel-container">
            <div class="carousel-track">
                <div class="carousel-slide">
                    
                    <div class="product-box">
                        <img src="images/selling-4.png" alt=""/>
                        <h2>Folding Camping Table</h2>
                        <div class="rating">
                            <i class="ri-star-fill"></i>
                            <p>4.5</p>
                        </div>
                        <div class="p-info">
                            <div class="price">
                                <p>$300.00</p>
                                <h3>$200.00</h3>
                            </div>
                            <a href="#">
                                <i class="ri-handbag-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="product-box">
                        <img src="images/selling-2.png" alt=""/>
                        <h2>Folding Camping Table</h2>
                        <div class="rating">
                            <i class="ri-star-fill"></i>
                            <p>4.5</p>
                        </div>
                        <div class="p-info">
                            <div class="price">
                                <p>$300.00</p>
                                <h3>$200.00</h3>
                            </div>
                            <a href="#">
                                <i class="ri-handbag-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="product-box">
                        <img src="images/selling-1.png" alt=""/>
                        <h2>Folding Camping Table</h2>
                        <div class="rating">
                            <i class="ri-star-fill"></i>
                            <p>4.5</p>
                        </div>
                        <div class="p-info">
                            <div class="price">
                                <p>$300.00</p>
                                <h3>$200.00</h3>
                            </div>
                            <a href="#">
                                <i class="ri-handbag-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="product-box">
                        <img src="images/product-1.png" alt=""/>
                        <h2>Folding Camping Table</h2>
                        <div class="rating">
                            <i class="ri-star-fill"></i>
                            <p>4.5</p>
                        </div>
                        <div class="p-info">
                            <div class="price">
                                <p>$300.00</p>
                                <h3>$200.00</h3>
                            </div>
                            <a href="#">
                                <i class="ri-handbag-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="product-box">
                        <img src="images/selling-1.png" alt=""/>
                        <h2>Folding Camping Table</h2>
                        <div class="rating">
                            <i class="ri-star-fill"></i>
                            <p>4.5</p>
                        </div>
                        <div class="p-info">
                            <div class="price">
                                <p>$300.00</p>
                                <h3>$200.00</h3>
                            </div>
                            <a href="#">
                                <i class="ri-handbag-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="carousel-container">
            <div class="carousel-track">
                <div class="carousel-slide">
                    <div class="product-box">
                        <img src="images/selling-4.png" alt=""/>
                        <h2>Folding Camping Table</h2>
                        <div class="rating">
                            <i class="ri-star-fill"></i>
                            <p>4.5</p>
                        </div>
                        <div class="p-info">
                            <div class="price">
                                <p>$300.00</p>
                                <h3>$200.00</h3>
                            </div>
                            <a href="#">
                                <i class="ri-handbag-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="product-box">
                        <img src="images/selling-2.png" alt=""/>
                        <h2>Folding Camping Table</h2>
                        <div class="rating">
                            <i class="ri-star-fill"></i>
                            <p>4.5</p>
                        </div>
                        <div class="p-info">
                            <div class="price">
                                <p>$300.00</p>
                                <h3>$200.00</h3>
                            </div>
                            <a href="#">
                                <i class="ri-handbag-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="product-box">
                        <img src="images/selling-1.png" alt=""/>
                        <h2>Folding Camping Table</h2>
                        <div class="rating">
                            <i class="ri-star-fill"></i>
                            <p>4.5</p>
                        </div>
                        <div class="p-info">
                            <div class="price">
                                <p>$300.00</p>
                                <h3>$200.00</h3>
                            </div>
                            <a href="#">
                                <i class="ri-handbag-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="product-box">
                        <img src="images/product-1.png" alt=""/>
                        <h2>Folding Camping Table</h2>
                        <div class="rating">
                            <i class="ri-star-fill"></i>
                            <p>4.5</p>
                        </div>
                        <div class="p-info">
                            <div class="price">
                                <p>$300.00</p>
                                <h3>$200.00</h3>
                            </div>
                            <a href="#">
                                <i class="ri-handbag-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="product-box">
                        <img src="images/selling-1.png" alt=""/>
                        <h2>Folding Camping Table</h2>
                        <div class="rating">
                            <i class="ri-star-fill"></i>
                            <p>4.5</p>
                        </div>
                        <div class="p-info">
                            <div class="price">
                                <p>$300.00</p>
                                <h3>$200.00</h3>
                            </div>
                            <a href="#">
                                <i class="ri-handbag-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <section class="brands" id="brands">
        <h2 class="heading">Brands</h2>
        <div class="brand-container">
            <div class="brand-content container">
                <div class="brand-box">
                    <img src="/images/brand-1.png" alt="" />
                </div>
                <div class="brand-box">
                    <img src="/images/brand-1.png" alt="" />
                </div><div class="brand-box">
                    <img src="/images/brand-1.png" alt="" />
                </div><div class="brand-box">
                    <img src="/images/brand-1.png" alt="" />
                </div>
            </div>
        </div>
    </section>
 
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="./main.js"></script>
