<header>
    <div class="nav ">
        <a href="" class="logo">
            <img src="assets/images copy/logo.png" alt="" width="10%"/>
        </a>
        <div class="navbar">
            <a href="#" class="nav-link">Categorie</a>
            <a href="#" class="nav-link">Products</a>
            <a href="#" class="nav-link">Blog</a>
            <a href="#" class="nav-link">Contact</a>
        </div>
        <div class="nav-right">
            <li class="ri-search-2-line"></li>
            <a href="" class="login-btn">Panier</a>
            <div class="menu-icon">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>

            </div>
        </div>
    </div>
</header>
<section class="hero" id="hero">
    <img class="hero-bg" src="assets/images copy/hero-bg.png" alt="" />
    <!-- Hero Content -->
    <div class="hero-content container">
        <h2>We have the <span>equipment</span> for your trip like this!</h2>
        <div class="hero-btn">
            <a href="" class="btn">
            <img src="assets/images copy/arrow-right.png" alt="" />
            </a>
        </div>
        <div class="hero-img">
            <img src="assets/images copy/hero.png" alt="">
        </div>

    </div>
    <div class="category container" id="category">
<a href="#products">
<img src="assets/images copy/bottom-scroll.png" alt="" class="scroll-bottom" />
</a>

<div class="category-content">
<div class="image-wrapper">
    <span></span>
    <img src="assets/images copy/category-bg.png" alt="" class="category-img-1" />
    <img src="assets/images copy/category-bg.png" alt="" class="category-img-2" />
</div>
<h2>Products Categories</h2>

<!-- Début du carousel personnalisé -->
<div class="custom-carousel category-carousel">
    <div class="carousel-track">
        <!-- Slide 1 -->
        <div class="carousel-slide">
            <div class="category-box">
                <img src="assets/images copy/category-5.png" alt="">
                <h3>Tent</h3>
            </div>
        </div>
        
        <!-- Slide 2 -->
        <div class="carousel-slide">
            <div class="category-box">
                <img src="assets/images copy/category-6.png" alt="">
                <h3>battania</h3>
            </div>
        </div>
        
        <!-- Slide 3 -->
        <div class="carousel-slide">
            <div class="category-box">
                <img src="assets/images copy/category-4.png" alt="">
                <h3>kartaba</h3>
            </div>
        </div>
        
        <!-- Slide 4 -->
        <div class="carousel-slide">
            <div class="category-box">
                <img src="assets/images copy/category-3.png" alt="">
                <h3>korsi</h3>
            </div>
        </div>
        
        <!-- Slide 5 -->
        <div class="carousel-slide">
            <div class="category-box">
                <img src="assets/images copy/category-5.png" alt="">
                <h3>Torch</h3>
            </div>
        </div>
    </div>
    
    <!-- Contrôles de navigation -->
    <div class="slides-control">
        <div class="carousel-pagination"></div>
        <div class="carousel-nav">
            <button class="carousel-prev">❮</button>
            <button class="carousel-next">❯</button>
        </div>
    </div>
</div>
<!-- Fin du carousel personnalisé -->
</div>
</div>
</section>
<section class="products container" id="products">
    
    <p class="product-desc">
        Professional equipment, unforgettable adventures. We believe that every journey can become a unique and memorable experience. For this reason, we have provided the best and highest quality camping and travel equipment for you, from light and compact tents to cooking and lighting. Everything is ready for you to go into the heart of nature without worry.
    </p>
    <div class="product-content">
        <div class="product-box">
            <img src="assets/images copy/product-2.png" alt=""/>
            <h2>Folding Camping Table</h2>
            <div class="rating">
                <i class="ri-star-fill"></i>
                <p>4.5</p>
            </div>
            <div class="p-info">
                <div class="price">
                    <p>$300.00</p>
                    <h3>$200.00</h3>
                </div>
                <a href="#">
                    <i class="ri-handbag-line"></i>
                </a>
            </div>
        </div>
        <div class="product-box">
            <img src="assets/images copy/product-2.png" alt=""/>
            <h2>Folding Camping Table</h2>
            <div class="rating">
                <i class="ri-star-fill"></i>
                <p>4.5</p>
            </div>
            <div class="p-info">
                <div class="price">
                    <p>$300.00</p>
                    <h3>$200.00</h3>
                </div>
                <a href="#">
                    <i class="ri-handbag-line"></i>
                </a>
            </div>
        </div><div class="product-box">
            <img src="assets/images copy/product-3.png" alt=""/>
            <h2>Folding Camping Table</h2>
            <div class="rating">
                <i class="ri-star-fill"></i>
                <p>4.5</p>
            </div>
            <div class="p-info">
                <div class="price">
                    <p>$300.00</p>
                    <h3>$200.00</h3>
                </div>
                <a href="#">
                    <i class="ri-handbag-line"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<p  style="padding-top: 60px"></p>
    <section class="backpack container" id="backpack" >
        <div class="backpack-content">
            <img src="images/backpack-grid.png" alt="" class="backpack-grid"/>
            <h2>Jack Wolfskin <br><span>Jack Wolfskin</span></h2>
            <p>Ergonomic design and medical back of the Jack Wolfskin series for long-term carrying and puts the least pressure on your back!</p>
            <a href="" class="btn">
           <span>Products</span>
            <img src="images/arrow-right.png" alt="">
        </a>
            </div>
            <img src="assets/images copy/backpack.png" alt="" class="backpack-img"/>
    </section>
    <section class="selling container" id="selling">
        <div class="selling-heading">
            <h2>Best Selling</h2>
            <a [routerLink]="['/shopicamp']" class="btn">
                <span>View Products</span>
                <img src="assets/images copy/arrow-right.png" alt="">
            </a>
            
        </div>
        <p>
   
  /.

        </p>
        <div class=".custom-ca selling-slidero">
            <div class="carousel-container">
                <div class="carousel-track">
                    <div class="carousel-slide">
                        <div class="product-box">
                            <img src="assets/images copy/selling-4.png" alt=""/>
                            <h2>Folding Camping Table</h2>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <p>4.5</p>
                            </div>
                            <div class="p-info">
                                <div class="price">
                                    <p>$300.00</p>
                                    <h3>$200.00</h3>
                                </div>
                                <a href="#">
                                    <i class="ri-handbag-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-slide">
                        <div class="product-box">
                            <img src="assets/images copy/selling-4.png" alt=""/>
                            <h2>Folding Camping Table</h2>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <p>4.5</p>
                            </div>
                            <div class="p-info">
                                <div class="price">
                                    <p>$300.00</p>
                                    <h3>$200.00</h3>
                                </div>
                                <a href="#">
                                    <i class="ri-handbag-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-slide">
                        <div class="product-box">
                            <img src="assets/images copy/selling-2.png" alt=""/>
                            <h2>Folding Camping Table</h2>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <p>4.5</p>
                            </div>
                            <div class="p-info">
                                <div class="price">
                                    <p>$300.00</p>
                                    <h3>$200.00</h3>
                                </div>
                                <a href="#">
                                    <i class="ri-handbag-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-slide">
                        <div class="product-box">
                            <img src="assets/images copy/selling-1.png" alt=""/>
                            <h2>Folding Camping Table</h2>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <p>4.5</p>
                            </div>
                            <div class="p-info">
                                <div class="price">
                                    <p>$300.00</p>
                                    <h3>$200.00</h3>
                                </div>
                                <a href="#">
                                    <i class="ri-handbag-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-slide">
                        <div class="product-box">
                            <img src="assets/images copy/product-1.png" alt=""/>
                            <h2>Folding Camping Table</h2>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <p>4.5</p>
                            </div>
                            <div class="p-info">
                                <div class="price">
                                    <p>$300.00</p>
                                    <h3>$200.00</h3>
                                </div>
                                <a href="#">
                                    <i class="ri-handbag-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-slide">
                        <div class="product-box">
                            <img src="assets/images copy/selling-1.png" alt=""/>
                            <h2>Folding Camping Table</h2>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <p>4.5</p>
                            </div>
                            <div class="p-info">
                                <div class="price">
                                    <p>$300.00</p>
                                    <h3>$200.00</h3>
                                </div>
                                <a href="#">
                                    <i class="ri-handbag-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
    
            
        </div>
    </section>
    
